/* .containerw { */
/* outline: 1px solid #eed; */
/* font-size: 42pt; */
/* padding: 9.5vh 0vw; */
/* background-size: cover;
            overflow: hidden; */
/* } */

/* .block {
            background: #223; */
/* color: #eed;
            line-height: 25vh;
            text-align: right; */
/* padding: 0 42pt; */
/* position: relative; */
/* }

        span {
            background: #eed;
            color: #223;
            line-height: 25vh;
            text-align: left;
            padding: 0 42pt;
            display: block;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
        } */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */

    text-align: center;
    font-family: arial;

}

.hidden {
    display: none;
}

.content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
}

a {
    text-decoration: none !important;
}

.button-next {
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 15;
    display: -ms-flexbox;
    /* display: flex; */
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 7%;
    margin-left: 15%;
    list-style: none;
    top: 45%;

}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
    width: 100vw;
}

.ftco-intro {
    margin-top: 5em;
    padding: 8em 0;
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

.border-stye {
    padding-bottom: 2px;
    width: 100%;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
.message-img {
    border: 3px solid #03723b;
    /* box-shadow: 2px 8px 10px #ccc; */
}

@media (max-width: 1199.98px) {
    .ftco-intro {
        background-position: center center !important;
    }
}

@media (max-width:1000px) {
    #home {
        margin-top: 3.9em;
    }
}

/* Mobile */
@media (max-width:767.99px) {
    .embed-responsive {
        margin-bottom: 25px !important;
    }
.heading-section img{
    height: 330px !important;
}
    .mission-img {
        height: 200px !important;
    }

    .img-about {
        margin-top: 25px !important;
    }

    .navbar-brand img {
        height: 5vh !important;
    }

    #parents .carousel-inner {
        height: 275px !important;
    }

    .parents {
        margin-bottom: 25px !important;
    }

    .carousel-indicators {
        top: 100% !important;
    }

    .brochure {
        margin-bottom: 25px !important;
    }

    h2 {
        text-align: start !important;
        font-size: 29px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    #parents .media {
        text-align: center !important;
        font-family: arial !important;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        /* border: 1px solid rgb(136, 131, 131) !important; */
        display: block !important;
    }

    /* #parents .media img { */

    /* border-top-left-radius: calc(.25rem - 1px) !important;
        border-top-right-radius: calc(.25rem - 1px) !important; */
    /* border-radius: 0% !important; */
    /* width: 100% !important; */

    /* } */

    /* #parents .media-body {
        flex: 1 1 auto !important;
        padding: 1.25rem !important;
    } */
}

.ftco-intro h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.ftco-intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    background: #000000;
}


.button-next li {
    border-radius: 50%;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(29, 22, 22);
    background-clip: padding-box;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    /* opacity: .5; */
    transition: opacity .6s ease;
}

.carousel-indicators {
    top: 120%;
    /* color: red; */
    /* background-color: red !important; */
}

.carousel-indicators li {
    /* color: red; */
    background-color: red;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}









.hero-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #f1453d;
}

.carousel-caption {
    top: 50%;
}


.shiksha {
    padding: 18px 36px;
    border-radius: 61px;
    box-shadow: inset 0 0 0 2px hsl(243, 80%, 62%);
    transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    ;
    color: hsl(243, 80%, 62%);
}

.shiksha:hover {
    box-shadow: inset 0 0 0 4px hsl(243, 80%, 62%);
    color: hsl(243, 80%, 62%);
}

.snapLeftBtn {
    text-align: center;
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    position: relative;
    border-radius: 6px;
    color: hsl(243, 80%, 62%);
    overflow: hidden;
}

.snapLeftBtn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transform: translateX(-101%);
    background: hsl(243, 80%, 62%);
    transition: transform .25s ease-in;
}

.navbar-brand img {
    height: 8vh;
}

/* .header-area {
    margin-bottom: 5.9em;
} */
.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

.navbar-nav .dropdown-menu {
    background: #161f33;
    border-color: #fff;
    padding: 2%;
    position: static;
    float: none;
}

.img-about {
    margin-top: -10%;
}

.snapLeftBtn:hover::before {
    transform: translateX(0);
}

.snapLeftBtn span {
    position: relative;
    z-index: 1;
    display: block;
    transition: color 0.1s .15s ease-in;
}

.snapLeftBtn:hover span {
    color: hsl(222, 100%, 95%);
    animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    35% {
        transform: translateX(20px);
        opacity: 0;
    }

    50.001% {
        transform: translateX(-20px);
    }

    60% {
        transform: translateX(0px);
    }

}

.circleScaleBtn {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: opacity .4s cubic-bezier(.19, 1, .22, 1), transform .75s cubic-bezier(.19, 1, .22, 1);
    background-color: hsl(243, 80%, 62%);
    opacity: 0;
}

.circleScaleBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
}
 .dropdown-item:hover {
     color: white !important;
     text-decoration: none !important;
     background-color: #484f59 !important;
 }

 .dropdown-item.active {
     color: #161f33 !important;
     text-decoration: none !important;
     background-color: white !important;
 }
 .heading-section img {
     height: 440px;
 }