/* .containerw { */
/* outline: 1px solid #eed; */
/* font-size: 42pt; */
/* padding: 9.5vh 0vw; */
/* background-size: cover;
            overflow: hidden; */
/* } */

/* .block {
            background: #223; */
/* color: #eed;
            line-height: 25vh;
            text-align: right; */
/* padding: 0 42pt; */
/* position: relative; */
/* }

        span {
            background: #eed;
            color: #223;
            line-height: 25vh;
            text-align: left;
            padding: 0 42pt;
            display: block;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
        } */


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */

    text-align: center;
    font-family: arial;

}

.hidden {
    display: none;
}

.content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
}

a {
    text-decoration: none !important;
}

.button-next {
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 15;
    display: -ms-flexbox;
    /* display: flex; */
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 7%;
    margin-left: 15%;
    list-style: none;
    top: 45%;

}

.header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
    width: 100vw;
}

.ftco-intro {
    margin-top: 5em;
    padding: 8em 0;
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

.border-stye {
    padding-bottom: 2px;
    width: 100%;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.message-img {
    border: 3px solid #03723b;
    /* box-shadow: 2px 8px 10px #ccc; */
}

@media (max-width: 1199.98px) {
    .ftco-intro {
        background-position: center center !important;
    }
}

@media (max-width:1000px) {
    #home {
        margin-top: 3.9em;
    }
}

:root {
    --widthA: 100%;
    --width: calc(var(--widthA) / 3);
    --blue: #007bff;
    --color-main:#161f33;
}

.w-33 {
    width: 32%;
}

@media(min-width:769px) {
    .pl-auto {
        padding-left: 28%;
        padding-top: 2%;

    }
}

.boardHedaing {
    margin-top: 7rem;
}
.result div .teacher-slide div{
    text-align: center !important;
}
.result .owl-stage div{
    text-align: center;

}
.nav-item.dropdown.show::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 10px solid #FFF;
    z-index: 10000;
}
.ews-info ul li strong,
.addmision-info ul li strong {
    line-height: 0;
}
.result div img{
     height: 120px;
    margin-right: auto;
    margin-left: auto;
    width: 120px !important;
}
/* .boardHedaing .conatiner-fluid .row div {} */
.slider-home .owl-stage .owl-item .item img{
    max-height: 600px;
}
.news-slide .owl-stage .owl-item  img {
    height: 196px;
}
.default-slider-page .slide-home-page .owl-stage-outer .owl-stage .owl-item img{
    max-height: 500px;
}
.boardHedaing  h2 {
    background-color: #161f33;
    color: white;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

}



.round-color li {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
}

.round-color li a {
    display: block;
    position: relative;
    z-index: 1;
    height: 31px;
    width: 31px;
    cursor: pointer;
    text-decoration: none;
    background-image: url(https://saiinternational.edu.in/wp-content/themes/sis/images/home-icon-logo.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 50%;
}

.schoolImage {
    object-position: 0% 0%;
    object-fit: cover;
    margin-left: 46%;
}
.list-group-item.active{
    background-color:#4a6cb6 !important;
    border-color: #4a6cb6 !important;
    color: white !important;
}
.teacherAwardImage {
    height: 160px;
    width: 160px;
}

#photoSlide .carousel-control-prev,
#photoSlide .carousel-control-next {
    width: 5% !important;
}
.photo-slide-img .owl-item img {
    height: 296px;
}
.teacher-slide div img{
        height: 160px;
       
        width: 160px !important;
}
.footer-bg-color{
    background-color: var(--color-main) !important;
}
.back-to-top{
    bottom: 80px;
}
span.hitCounter.badge-done0{
    background-image: none !important;
    text-indent:0 !important;
    background-color: var(--color-main) !important;
    color: white;
}
/* Mobile */
@media (max-width:767.99px) {
    .social-link {
        width: 80% !important;        
        margin: 0 10% !important;        
    }
    .social-link ul li{
        font-size: 22px !important;
    }
    .round-color li {
        height: 32px !important;
    }
    
    .news-slide .owl-stage .owl-item img {
        height: 185px !important;
    }
    .photo-slide-img .owl-item img {
        height: 180px !important;
    }
    .default-slider-page {
        margin-top: 4.3em !important;
    }
    #home .slide-home-page .owl-stage-outer .owl-stage .owl-item img {
        height: 322px !important;
    }
    .photo-slide-img .owl-stage-outer .owl-stage .owl-item {
        padding-left: 0 !important;

    }
.photo-slide-img .owl-nav.disabled .owl-prev,
.photo-slide-img .owl-nav.disabled .owl-next {
    top: 22% !important;
}
    .teacherAwardImage {
        height: 100px;
        width: 100px;
    }

    .boardHedaing {
        margin-top: 6rem;
    }

    .schoolImage {
        margin-left: 27% !important;
    }

    .pl-auto {
        padding-top: 10%;
        padding-left: 12%;

    }

    .embed-responsive {
        margin-bottom: 25px !important;
    }

    .navbar-area .container-fluid {
        padding-left: 43px !important;
        padding-right: 51px !important;
    }

    .heading-section img {
        height: 330px !important;
    }
img.mission-img.w-75 {
    transform: rotate(-7deg) !important;
}
    .mission-img {
        height: 200px !important;
    }

    .img-about {
        margin-top: 25px !important;
    }

    .navbar-brand img {
        height: 6vh !important;
    }

    #parents .carousel-inner {
        height: 275px !important;
    }

    .parents {
        margin-bottom: 25px !important;
    }

    #parents .carousel-indicators {
        top: 100% !important;
    }

    .brochure {
        margin-bottom: 25px !important;
    }

    h2 {
        text-align: start !important;
        font-size: 29px !important;
    }

    h3 {
        font-size: 18px !important;
    }

    #parents .media {
        text-align: center !important;
        font-family: arial !important;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        /* border: 1px solid rgb(136, 131, 131) !important; */
        display: block !important;
    }

    /* #parents .media img { */

    /* border-top-left-radius: calc(.25rem - 1px) !important;
        border-top-right-radius: calc(.25rem - 1px) !important; */
    /* border-radius: 0% !important; */
    /* width: 100% !important; */

    /* } */

    /* #parents .media-body {
        flex: 1 1 auto !important;
        padding: 1.25rem !important;
    } */
}

.ftco-intro h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.ftco-intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    background: #000000;
}


.button-next li {
    border-radius: 50%;
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(29, 22, 22);
    background-clip: padding-box;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    /* opacity: .5; */
    transition: opacity .6s ease;
}


#home .slide-home-page .owl-stage-outer .owl-stage .owl-item img
 {
height: 667px;
}


#parents .carousel-indicators {
    top: 120%;
    /* color: red; */
    /* background-color: red !important; */
}

#parents .carousel-indicators li {
    /* color: red; */
    background-color: red;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}









.hero-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .3;
    background: #f1453d;
}

.carousel-caption {
    top: 50%;
}


.shiksha {
    padding: 18px 36px;
    border-radius: 61px;
    box-shadow: inset 0 0 0 2px hsl(243, 80%, 62%);
    transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
    ;
    color: hsl(243, 80%, 62%);
}

.shiksha:hover {
    box-shadow: inset 0 0 0 4px hsl(243, 80%, 62%);
    color: hsl(243, 80%, 62%);
}

.snapLeftBtn {
    text-align: center;
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    position: relative;
    border-radius: 6px;
    color: hsl(243, 80%, 62%);
    overflow: hidden;
}

.snapLeftBtn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transform: translateX(-101%);
    background: hsl(243, 80%, 62%);
    transition: transform .25s ease-in;
}

.navbar-brand img {
    height: 8vh;
}

.default-slider-page {
    margin-top: 5.9em;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

.navbar-nav .dropdown-menu {
    background: #161f33;
    border-color: #fff;
    padding: 2%;
    position: static;
    float: none;
}

.img-about {
    margin-top: -10%;
}

.snapLeftBtn:hover::before {
    transform: translateX(0);
}

.snapLeftBtn span {
    position: relative;
    z-index: 1;
    display: block;
    transition: color 0.1s .15s ease-in;
}

.snapLeftBtn:hover span {
    color: hsl(222, 100%, 95%);
    animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    35% {
        transform: translateX(20px);
        opacity: 0;
    }

    50.001% {
        transform: translateX(-20px);
    }

    60% {
        transform: translateX(0px);
    }

}

.circleScaleBtn {
    padding: 12px 24px;
    background-color: hsl(222, 100%, 95%);
    color: hsl(243, 80%, 62%);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: opacity .4s cubic-bezier(.19, 1, .22, 1), transform .75s cubic-bezier(.19, 1, .22, 1);
    background-color: hsl(243, 80%, 62%);
    opacity: 0;
}

.circleScaleBtn:hover span {
    color: hsl(222, 100%, 95%);
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1)
}

.dropdown-item:hover {
    color: white !important;
    text-decoration: none !important;
    background-color: #484f59 !important;
}

.dropdown-item.active {
    color: #161f33 !important;
    text-decoration: none !important;
    background-color: white !important;
}

.heading-section img {
    height: 600px;
}

.dropdown-item {
    margin-right: 5px;
}

.round-color {
    left: 3%;
    top: 12%;
    align-items: center;
    position: absolute;
}


.heding-facilities {
    border-bottom: 1px dashed black;
}

/* selide parent  */
.news-header{
   
    background: rgb(22, 31, 51);
}
.news-header h3{
     font-size: 22px;
     text-align: left;
     color: white;
}
.testimonials-section {
    /* background: aliceblue; */
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* min-height: 100vh; */
    padding-bottom: 17px;
}

.testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
}

.testimonials .card .card-img-top {
    object-fit: cover;
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #9fabbb;
    width: 100px;
    height: 100px;
}

.testimonials .card h5 {
    color: #506fb2;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}

.testimonials .card h5 span {
    font-size: 17px;
    color: #666666;
    padding-bottom: 20px;

}

.testimonials .card p {
    text-align: justify;
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;

}

.owl-item>div {
    cursor: pointer;
    margin: 5% 0%;
    transition: margin 0.4s ease;
}

.testimonials .owl-item.center>div {
    cursor: pointer;
    margin: 0;
}

.testimonials .active {
    opacity: 0.5;
    transition: all 0.25s ease;
}

.testimonials .center {
    opacity: 1;

}

.testimonials .owl-stage-outer {
    padding: 30px 0;
}

.testimonials .owl-dots {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.slide-home-page .owl-dots .owl-dot{
    display: flex;
}
.slide-home-page .owl-dots{
    position: absolute;
    top: 40%;
    right: 3%;
    display: block;
    
}
.slide-home-page .owl-dots span{
position: relative;
height: 14px;
width: 14px;
 display: flex;
background: #fff;
border: 2px solid #19abd3;
border-radius: 20px;
margin: 4px 0;
    transition: all 0.25s ease;

}
.testimonials .owl-dots span {
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 20px;
    display: block;
    background: #fff;
    border: 2px solid #01b0f8;
    transition: all 0.25s ease;
    margin: 0 4px;
}

.slide-home-page .owl-dots .active span {
    background: #58b1d4;
    box-shadow: none;
    height: 30px;
    width: 14px;
    border: none;
    position: relative;
    transition: all 0.25s ease;
}
.testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 14px;
    width: 30px;
    position: relative;
    transition: all 0.25s ease;
}

.testimonials .owl-dots .active {
    box-shadow: none;

}

.owl-dots .owl-dot:focus {
    box-shadow: none !important;
    outline: 0;
    border: 0;
}
.photo-slide-img .owl-stage-outer .owl-stage .owl-item{
    padding-left: 20px;

}
.teacher-slide .owl-nav.disabled,
.result .owl-nav.disabled,
.news-slide .owl-nav.disabled,
.photo-slide-img .owl-nav.disabled{
    display: block !important;
}

.news-slide .owl-nav.disabled .owl-prev span{
    top: 0;
    right: 3%;
    position: absolute;
}
.news-slide .owl-nav.disabled .owl-prev{
     font-size: 3rem;
     right: 8%;
     top: -47PX;
     position: absolute;
}
.news-slide .owl-nav.disabled .owl-next {
    font-size: 3rem;
     right: 0;
     top: -47PX;
      position: absolute;
}

.photo-slide-img .owl-nav.disabled .owl-prev{
    position: absolute;
    background-color: white;
   top: 36%;
   left: 3%;
   
}
.teacher-slide .owl-nav.disabled .owl-prev,
.result .owl-nav.disabled .owl-prev
    {
        
    position: absolute;
    top: 21%;
    left: 0%;
}
.teacher-slide .owl-nav.disabled .owl-prev span:hover,
.teacher-slide .owl-nav.disabled .owl-next span:hover,
.result .owl-nav.disabled .owl-prev span:hover,
.result .owl-nav.disabled .owl-next span:hover,
.photo-slide-img .owl-nav.disabled .owl-prev span:hover,
.photo-slide-img .owl-nav.disabled .owl-next span:hover{
    opacity: 1;
}
.teacher-slide .owl-nav.disabled .owl-prev span,
.teacher-slide .owl-nav.disabled .owl-next span,
.result .owl-nav.disabled .owl-prev span,
.result .owl-nav.disabled .owl-next span,
.photo-slide-img .owl-nav.disabled .owl-prev span,
.photo-slide-img .owl-nav.disabled .owl-next span {
    font-size: 2rem;
    padding: 0px 16px;
    opacity: 0.5;
}
.main-color{
    color: var(--color-main) !important; 
}
.footer-area{
    border-top: 1px solid rgb(201, 191, 191);
}
 .social-link::before {
     content: '';
     position: absolute;
     left: 0;
     right: 40%;
     top: 0;
     bottom: 0;
     background:var(--color-main);
     -webkit-transform: skewX(30deg);
     -moz-transform: skewX(30deg);
     -ms-transform: skewX(30deg);
     -o-transform: skewX(30deg);
     transform: skewX(30deg);
     z-index: -1;
     border-radius: 0 0 0px 10px;
 }

 .social-link {
     width: 40%;
     max-width: 100%;
     float: left;
     margin: 0 30%;
     position: relative;
     z-index: 1;
 }
 .social-link::after {
     content: '';
     position: absolute;
     left: 40%;
     right: 0;
     top: 0;
     bottom: 0;
     background: var(--color-main);
     -webkit-transform: skewX(-30deg);
     -moz-transform: skewX(-30deg);
     -ms-transform: skewX(-30deg);
     -o-transform: skewX(-30deg);
     transform: skewX(-30deg);
     z-index: -1;
     border-radius: 0 0 10px 0px;
 }
 .social-link ul li {
     font-size: 28px;
     display: inline;
     margin: 0 10px;
 }
 .social-link ul li a{
     color: white;
 }
.photo-slide-img .owl-nav.disabled .owl-next{
    position: absolute;
    background-color: white;
    right: 3%;
    top: 36%;
}
.teacher-slide .owl-nav.disabled .owl-next,
.result .owl-nav.disabled .owl-next{
position: absolute;
right: 0%;
top: 21%;}
.teacher-slide .owl-stage .owl-item div.text-center{
    margin-left: 20%;
    
}
.teacher-slide .owl-stage{
    justify-content: space-around !important;
}